.override-succ{
color: #4A5D43;
background: radial-gradient(46.87% 194.44% at 50.43% 100%, #D8E9D0 0%, #FFFFFF 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
border: 1px solid #C2DEB7;
margin-left: -10px;
}

h5{font-size: 14px !important;
margin-bottom: 5px !important;
margin-top: 5px !important;}

p{
    color: black !important;
    font-size: 14px;
}